{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h1>Welcome to iHackmail</h1>
                <p>You are on our homepage</p>
                <h3><a href="/login">Log in</a></h3>
                <h3><a href="/logout">Register</a></h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        {% if not user.is_authenticated %}
            $("ul.nav.navbar-nav.navbar-right").css("display","none");
        {% endif %}
    </script>
{% endblock %}